body {
    background-image: url(./Assets/grey-background.jpg);
}
.navbar-brand{
    background: rgb(4, 173, 196);
    width: 200px;
    text-align: center;
    position: fixed;
    
}
.float-left{
    float: left;
}